<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- App JS -->
    <script defer src="/js/app.js"></script>
    <title>Truth Is Funnier Than Fiction</title>
</head>
<body>
    <header>
        <nav class="navbar">
        <ul>
            <li>
                <a href="#home">Home</a> 
            </li>
            <li>
                <a href="#about">About</a> 
            </li>
            <li>
                <a href="#podcast">Podcast</a> 
            </li>
            <li>
                <a href="#signup">Sign Up</a> 
            </li>
        </ul>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href=""><i class="fab fa-audible"></i></a>
        <a href=""><i class="fas fa-podcast"></i></a>
        </nav>
    </header>
    <main>
        <section id="about">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aspernatur perspiciatis accusamus ut, commodi eos autem harum fugiat accusantium explicabo consectetur asperiores in culpa sit nemo reprehenderit voluptatem tempora? Possimus.Provident dolore, ducimus quaerat saepe eaque quae sapiente nulla reiciendis perferendis expedita nam? Dolor vero repellat dicta eos laborum corrupti qui adipisci labore! Exercitationem voluptatum officia quidem pariatur sequi ipsum!</p>
        </section>

        <section id="podcast">
            <div>
                <img src="https://picsum.photos/200" alt="">
                <img src="https://picsum.photos/200" alt="">
                <img src="https://picsum.photos/200" alt="">
            </div>
        </section>

        <section id="signup">
            <p><%= typeof msg != 'undefined' ? msg : '' %> </p>
            <form action="/users" method="POST" novalidate>
                <label for="firstName">
                    <div class="error-message hidden"></div>
                    First Name
                    <input type="text" name="firstName" placeholder="First Name" id="firstName">
                </label>
                <label for="lastName">
                    <div class="error-message hidden"></div>
                    Last Name
                    <input type="text" name="lastName" placeholder="Last Name" id="lastName">
                </label>
                <label for="email">
                    <div id="email-error" class="error-message hidden"></div>
                    Email
                    <input type="email" name="email" placeholder="Email" id="email">
                    <div id="hint" style="display: none;"></div>

                </label>
                <button type="submit">Submit</button>
            </form>
        </section>

    </main>


    <footer>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href=""><i class="fab fa-audible"></i></a>
        <a href=""><i class="fas fa-podcast"></i></a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mailcheck/1.1.2/mailcheck.js"></script> -->
</body>
</html>