@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Montserrat:wght@400;700&display=swap");

/* FONTS */
/* font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif; */

:root {
  --blue: #03256c;
  --yellow: #ffba08;
  --white: #ffffff;
  --black: #000000;
}

main {
  margin: 100px;
}
.error {
  color: red;
  border-color: red;
}
.hidden {
  display: none;
}
.error-message {
  width: 100%;
  /* position: absolute; */
  z-index: 10;
  bottom: 100%;
  text-align: center;
  font-size: 0.7em;
  font-weight: 800;
  background-color: red;
  padding: 1px 1px;
  color: white;
  opacity: 70%;
}
.opaque {
  opacity: 50%;
}
.searchBar {
  display: block;
}
#title {
  background-image: url(../images/microphone.png);
  height: 500px;
  width: 1200px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 48px;
}
#podcast,
#episodes {
  margin-bottom: 150px;
}
footer {
  background-color: #03256c;
  width: 100vw;
  padding: 2% 5%;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}
.centerSignup {
  display: flex;
  justify-content: center;
  text-align: center;
}
nav.bg-light {
  background-color: var(--blue) !important;
}

.navbar a {
  color: white !important;
}

.hero {
  top: 23%;
  position: relative;
}
